@import url(https://db.onlinewebfonts.com/c/aa0db18808f131f9ace744ef97cb54f7?family=eagle-book);
body {
  margin: 0;
  padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400&display=swap');
.topnav {
  overflow: hidden;
  background-color: #000000 ;
  z-index: 100;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
}
body {
  margin: 0;
  padding: 0;
}


.topnav a {
  font-family: 'Eagle-Book'; 
  float: left;
  color: #ffcb07;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topbuttonsleft {
  transition-duration: 0.4s;
  font-family: 'Eagle-Book'; 
  padding: 10px;
  padding-left:30px;
  font-weight: bolder;
  color: #ffcb07;
  font-size: 40px;
  background: none;
  border: none;
}

.topbuttonsleft:hover {
  cursor: pointer;
}

.topbuttonsmid {
  transition-duration: 0.4s;
  font-family: 'Source Sans 3'; 
  padding: 10px;
  padding-left:30px;
  font-weight: bolder;
  color: #ffcb07;
  font-size: 10px;
  background: none;
  border: none;
}

.sidebar-title {
  padding-left: 20px;
  font-family: 'Source Sans 3', sans-serif; 
  font-size: 25px; 
  font-weight: bolder;
  margin-top: 45px;
  margin-bottom: 5px;
}

.sidebar-subtitle {
  padding-left: 16px;
  padding-right: 15px;
  font-size: 14px; 
  font-style: italic;
  font-family: 'Source Sans 3', sans-serif; 
}


.custom-marker {
  background-color: gray;
  border-radius: 50%;
}
.map {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50px;
  z-index: 7;
}

.sidebar {
  border-radius: 5px;
  position: absolute;
  left: 22px;
  width: 391px;
  top: 24px;
  bottom: 30px;
  overflow-y: auto;
  padding: 15px;
  font-size: 16px;
  z-index: 9;
  padding: 10px;
  background-color: 	rgb(216,216,216,0.5);
  font-family: 'Source Sans 3', sans-serif;
}


.response-message {
  font-size: 16px;
  margin-bottom: 10px;
}

.sidebarback {
  border-radius: 5px;
  position: absolute;
  left: 0px;
  width: 390px;
  top: 64px;
  bottom: 30px;
  overflow-y: auto;
  padding: 15px;
  font-size: 16px;
  opacity: 0.77;
  z-index: 8;
}

.sidebar-info {
  text-align: left;
  margin-top: 20px; 
}

.sidebar-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px; 
  font-family: 'Source Sans 3', sans-serif; 
}

.sidebar-website {
  font-size: 14px;
  color: #0066cc; 
  text-decoration: underline;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans 3', sans-serif; 
}

.sidebar-website:hover {
  text-decoration: underline;
}

.sidebar-description {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: 'Source Sans 3', sans-serif; 
}

.sidebar-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar-content {
  margin-top: 50px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Source Sans 3', sans-serif; 
  padding-left: 15px;
  padding-right:15px;
}

.show {
  display: block;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }


  .sidebar-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
    font-family: 'Source Sans 3', sans-serif;
    clear: both; /* Add this property to clear the float */
  }

  .map {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    top: 50px;
    z-index: 7;
  }

  .topnav {
    overflow: hidden;
    background-color: #000000;
    z-index: 100;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
  }

  .topnav a {
    font-family: 'Eagle-Book';
    float: left;
    color: #ffcb07;
    text-align: center;
    padding: 14px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
  }

  .sidebarback {
    width: 100%;
    height: 40vh;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border-radius: 0;
    background-color: 	rgb(216,216,216,0.5);
  }

  .sidebar {
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 40vh;
    border-radius: 0;
    margin-top: 0;
    font-family: 'Source Sans 3', sans-serif;
  }

  #sidebar-content {
    width: 100%;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    height: auto; /* Adjusted to auto height */
    border-radius: 0;
    margin-top: 0;
    clear: both; /* Add this property to clear the float */
  }

  .response-message {
    margin-top: 20px; /* Add margin for separation */
    font-size: 16px;
  }
  .sidebar-info {
    text-align: left;
    margin-top: 20px; 
  }
  
 
  
  .sidebar-website {
    font-size: 12px;
    color: #0066cc; 
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-family: 'Source Sans 3', sans-serif; 
  }
  
  .sidebar-website:hover {
    text-decoration: underline;
  }
  
  .sidebar-description {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Source Sans 3', sans-serif; 
  }
}
